.nav-item {
  padding: 15px 36px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__name {
    font-size: 16px;
    margin-left: 25px;
  }
}

.nav-item_active {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  border-right: 4px solid #0085ff;

  .nav-item__icon {
    svg path {
      stroke: #0085ff;
      filter: blur(0.5px);
    }
  }

  .nav-item__name {
    color: #0085ff;
    text-shadow: 0px 0px 20px #0085ff;
  }
}
