.layout {
  min-height: 100vh;

  &__content {
    margin: 90px 350px 20px 389px;
    padding: 25px 20px;
    background: linear-gradient(
      180deg,
      rgba(185, 251, 255, 0.2) 0%,
      rgba(227, 220, 255, 0.2) 100%
    );
    backdrop-filter: blur(30px);
    border-radius: 10px;
    border: 1px solid #fff;
    min-height: 100vh;
    transition: 0.3s;
    &_collapsible {
      margin-left: 124px;
    }
  }

  &__bg {
    object-fit: cover;
    position: fixed;
    z-index: -1;
    filter: drop-shadow(30px 4px 114px rgba(35, 23, 84, 0.12));

    &_bg1 {
      width: 477px;
      height: 400px;
      top: 0;
      left: 0;
    }

    &_bg2 {
      width: 505px;
      height: 414px;
      top: 475px;
      left: 240px;
    }

    &_bg3 {
      width: 800px;
      height: 600px;
      bottom: 0;
      right: 0;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}
